*
{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Poppins' , sans-serif;
    

}



.container
{
  min-height: 100vh;
    width: 100%;
 background: linear-gradient(135deg , #cf9aff , #95c0ff);
color: #fff;
padding-top: 4%;
padding-left:10% ;
 
}

.container h1
{
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600;

}

.container h1 img
{

    width: 60px;

}

.container button img
{
    width: 25px;
    margin-right: 8px;

}

.container button
{
    display: flex;
    align-items: center;
    background:  linear-gradient(#9418fd , #571094);
    font-size: 16px;
    outline: 0;
    border: 0 ;
    border-radius: 40px;
    padding: 15px 25px 15px;
    margin: 30px 30px 20px;
    cursor: pointer;
    color: #fff; 
}

.input-box
{
    position: relative;
    outline: none;
    
    border: none;
    height: 150px;
    max-height: 150px;
    width: 100%;
    max-width: 500px;
    background: #fff;
    font-size: 20px;
    padding: 20px;
    margin: 20px 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    color: black;
    border-radius: 5px;
    


}

.input-box img
{
    width: 25px;
    position: absolute;
    bottom: 15px;
    right: 15px;
   
}


